body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #7e32b3;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #7e32b3;
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
}
.all {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #fbe169;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  position: relative;
  top: -16px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #7e32b3;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
.fahr {
  text-decoration: none;
}
.celsius {
  text-decoration: none;
  color: #7e32b3;
  cursor: default;
}

.bottom-page {
  position: relative;
  top: -16px;
}
.link-github {
  text-decoration: none;
}
.searchbar {
  width: 60%;
  border-radius: 5px;
  border-color: #7e32b3;
  margin-left: 2px;
  margin-bottom: 5px;
}
.submitSearch {
  color: #ffc154;
  background-color: #7e32b3;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.submitSearch:hover {
  color: #7e32b3;
  background-color: #ffc154;
  cursor: pointer;
}
.tempNow {
  color: #ffc154;
  background-color: #7e32b3;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.tempNow:hover {
  color: #7e32b3;
  background-color: #ffc154;
  cursor: pointer;
}
